.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.item {
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 20px;
}

.item:hover {
        border: 3px solid #79b585;
        background-color: #8deba0;
}

.itemImg {
    width: 500px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.itemText {

}