nav {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navlink {
    margin-left: 20px;
    text-decoration: none;
    padding: 5px;
}

.navlink:hover {
    border-top: 1px solid #7b7cc4;
}

.active {
    background: #dfdfe6;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);

}