nav {
    text-align: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

li {
    margin-left: 20px;
}

li:hover {
    color: #0000af;
    cursor: pointer;
    border-bottom: 1px solid #0000af;
}